{% extends "proj_app/base_template.html" %}
{% block content %}
  <h1>Publicly Listed Groups</h1>
  
  <ul class="list-group">
      {% for session in public_sessions %}
      <li class="list-group-item">
          <p><strong>Title:</strong> {{ session.title }}</p>
          <p><strong>Date:</strong> {{ session.date }}</p>
          <p><strong>Time:</strong> {{ session.time }}</p>
          <a href="{% url 'sessionDetails' session.id %}"><button type="button" class="btn btn-info">Details</button></a>
      </li>
      {% endfor %}
  </ul>
{% endblock %}